#createForm {
    display:inline-grid;
    grid-template-columns: repeat(4, 25% [col-end]);
    text-align:right

}


input {
    width:auto;
    padding:5px;
    margin:5px;

}
button{
    margin:15px
}